<p style="color: green"><%= notice %></p>

<h1>Coins</h1> <br>
<%= link_to "New coin", new_coin_path %>

<div id="coins">
  <table>
    <thead>
        <tr>
          <th>Sigla</th>
          <th>Descrição</th>
          <th>Image</th>
        </tr>
    </thead>
    <tbody>
      <% @coins.each do |coin| %>
        <%= render coin %>
      <% end %>
    </tbody>
  </table>
</div>

